.title {
  font-family: 'Roboto', sans-serif;
  color: #2c3e50;
  font-size: 32px;
    font-weight: bold;
  padding: 15px;
    border: 3px solid #2c3e50;
    margin: 20px;
}
.c1 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #4B9DA9;
  padding: 15px;
    border: 2px solid #aaa;
    margin: 20px; }

.c2 {  display: block;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    line-height: 1.6;
    color: #4B9DA9;

    padding: 15px;
    border: 2px solid #aaa;
    margin: 20px;
}

.c4 {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #896C6C;
}



